/*
 * Copyright (C) 2026 Nordic Semiconductor ASA
 * SPDX-License-Identifier: Apache-2.0
 */

&npm2100_pmic {
    /* STEP 1.1 - Add active-high interrupt input (P0.02) */
};

&npm2100_regulators {
    /* STEP 1.2 - Add active-low LDSW control output (P0.03) */
};
