source "Kconfig.zephyr"

menu "Lesson 6 Exercise 2 config"

config USE_TIMER_TRIGGER
    bool "Use timer workflow trigger"
    default n

config USE_PPI_WORKFLOW
    bool "Use PPI workflow"
    default n 

config GPIO_EVENT_PERIOD_US
    int "GPIO event period in microseconds"
    default 50000

config GPIO_EVENTS_CNT
    int "Number of GPIO events in one cycle"
    default 2

config PWM_OUTPUT_PERIOD_US
    int "PWM output period in microseconds"
    default 250000


endmenu