source "Kconfig.zephyr"

menu "Lesson 5 Exercise 3 config"


choice GPIO_PATTERN
    bool "GPIO pattern choice"
    default PATTERN_DISABLED

config PATTERN_DISABLED
    bool "NO_PATTERN"

config PATTERN_TIMER_W_CPU
    bool "Pattern timer with CPU workflow"

config PATTERN_PWM_SIMPLE
    bool "Pattern PWM with CPU workflow"

config PATTERN_PWM_COMPLEX
    bool "Pattern PWM with DMA workflow"

endchoice

endmenu